{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

{% if greeting and not feature %}
    <div class="message-bubble bg-blue-100 rounded p-3">Which feature would you like to use?</div>
    <form method="POST" class="flex gap-4">
        {% csrf_token %}
        <button type="submit" name="action" value="back" class="submit-button bg-indigo-600 text-white px-4 py-2 rounded">⬅ Back</button>
        <button type="submit" name="feature" value="recommender" class="submit-button bg-indigo-600 text-white px-4 py-2 rounded" >Recommender</button>
        <button type="submit" name="feature" value="remixer" class="submit-button bg-indigo-600 text-white px-4 py-2 rounded">Remixer</button>
    </form>
{% endif %}

{% endblock %}