{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<body>
  <div id="app" class="chat-container">
    <form method="POST">
      {% csrf_token %}
      <h2 class="text-xl font-bold mb-4 text-center">Login</h2>



      <input type="name" class="border p-2 rounded w-full mb-2" name="username" placeholder="Username" required>
      <input type="password" class="border p-2 rounded w-full mb-2" name="password" placeholder="Password" required>
      
      {% if error %}
        <div class="text-red-500">
          {{ error }}
        </div>
      {% endif %}

      <button type="submit" name="action" value="login" class="submit-button bg-indigo-600 text-white px-4 py-2 rounded">
        Login
      </button>

      <a href= "{% url 'home' %}" type="submit" name="action" value="guest" class="submit-button bg-indigo-600 text-white px-5 py-3 rounded" >
        Continue As Guest
      </a>

      <p>Don't have an account? 
        <a href="{% url 'register' %}" class="text-blue-500 underline">
          Register
        </a>
      </p>
    </form>
  </div>
{% endblock %}
