{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}

<div id="register-form" class="chat-container">
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.errors }}
        <h2 class="text-xl font-bold mb-4 text-center">
            Register
        </h2>

        <input type="text" class="border p-2 rounded w-full mb-2" name="name" placeholder="Name" required>
        <input type="email" class="border p-2 rounded w-full mb-2" name="username" placeholder="Email" required>
        <input type="date" class="border p-2 rounded w-full mb-2" name="date" placeholder="Birthday" required>
        <input type="password" class="border p-2 rounded w-full mb-2" name="password1" placeholder="Password" required>
        <input type="password" class="border p-2 rounded w-full mb-2" name="password2" placeholder="Confirm Password" required>

        
        <a href="{% url 'login' %}" type="submit" name="action" value="back" class="submit-button bg-indigo-600 text-white px-4 py-2 rounded">
            ⬅ Back
        </a>
        <button type="submit" class="submit-button bg-indigo-600 text-white px-4 py-2 rounded">
            Register
        </button>
    </form>
</div>

{% endblock %}